@charset "UTF-8";

html, body { max-width:100%;}
html.no_scroll { overflow:hidden; padding:0 17px 0 0;}
body { min-width:1280px; margin:0 auto;}
.dimmed {
    width:100%; height:100%; position:fixed; z-index:100; background-color:#000; display:none; top:0;
    @include opacity(0);
}

//스킵 네이게이션
#skipNavigation a {
    position:absolute; top:-100px; left:0; z-index:100; width:100%; border-bottom:1px solid #dbdbdb; background:#f8f7f3; line-height:50px;
    &:focus {top:0; text-align:center;}
}

/*헤더*/
#header {
    width:100%; position:fixed; top:0; z-index:200; background-color:$white;
    .header_wrap {
        max-width:1590px; min-width:1180px; margin:0 auto; padding:0 50px; position:relative;
    }
    .header_top {
        height:76px; position:relative;
        @extend %clearfix;
        h1 {
            text-align:center; padding:32px 0 0;
            a {
                width:161px; height:24px; display:inline-block; background-image:url(../../images/layout/logo.gif); text-indent:-9999px;
                @include backgroundSolt;
            }
        }
        .header_news {
            width:300px; height:20px; line-height:20px; position:absolute; left:0; font-size:13px; top:34px; overflow:hidden;
            li {
                width:100%; position:absolute;
                @include translate(0, 20px);
                &:first-child {@include translate(0, 0);}
            }
            a {
                max-width:100%; display:inline-block; color:$gray1;
                @include text-overflow;
                @include transition(color, .2s);
                &:hover,
                &:focus {color:$red;}
            }
        }
        .header_util {
            position:absolute; top:38px; right:0; font-size:13px;
            ol {@extend %clearfix;}
            li {float:left; margin:0 0 0 15px;}
            a {
                color:$gray1;
                @include transition(color, .2s);
                &:hover,
                &:focus {color:$red;}
            }
        }
    }
    .header_bottom {
        height:72px; position:relative;
        #gnb {
            .open_depth {
                height:72px; text-align:center; font-size:17px; line-height:72px; font-weight:$medium;
                ul {display:inline-block;}
                li {
                    float:left; margin:0 0 0 60px;
                    &:first-child {margin:0;}
                }
                a {
                    @include transition(color, .2s);
                    &:hover {color:$red;}
                }
            }
            .all_depth {
                width:1180px; height:0; margin:0 auto; position:relative; overflow:hidden; text-align:center; font-size:13px; background-color:$white;
                .depth_wrap {
                    display:inline-block; text-align:left; padding:62px 0 60px;
                    @extend %clearfix;
                    &.open:after {@include scaleX(1);}
                    &:after {
                        width:100%; height:2px; display:block; content:""; background-color:$gray1; top:0; left:0; position:absolute;
                        @include scaleX(0);
                        @include transition(transform, .5s);
                    }
                    ul {
                        width:100px; float:left; margin:0 0 0 43px;
                        &:first-child {margin:0;}
                        &:hover {
                            strong:after {width:100%;}
                        }
                    }
                    li {
                        margin:16px 0 0;
                        &:first-child {margin:0;}
                        strong {
                            width:100%; padding:0 0 20px; display:inline-block; font-weight:$medium; font-size:15px;  position:relative; color:$gray1;
                            &:before,
                            &:after {height:1px; display:block; content:""; position:absolute; bottom:0; left:0;}
                            &:before {width:100%; background-color:$gray5;}
                            &:after {
                                width:0; background-color:$gray1;
                                @include transition(width, .3s);
                            }
                        }
                        a {
                            color:$gray2; position:relative; display:inline-block;
                            &:after {
                                width:0; height:1px; display:block; content:""; position:absolute; bottom:-3px; background-color:$gray1;
                                @include transition(width, .2s);
                            }
                            @include transition;
                            &:hover,
                            &:focus {
                                color:$gray1;
                                &:after {width:100%;}
                            }
                        }
                        &:last-child {
                            margin:20px 0 0;
                            a {
                                color:$gray3; position:relative;
                                &:hover,
                                &:focus {
                                    color:$red;
                                    &:after,
                                    &:before {background-color:$red;}
                                }
                                &:after,
                                &:before {
                                    width:6px; height:1px; display:block; content:""; background-color:$gray3; position:absolute; right:-12px;
                                    @include transition(background-color, .2s);
                                }
                                &:before {
                                    top:5px;
                                    @include rotate(225);
                                }
                                &:after {
                                    top:9px;
                                    @include rotate(135);
                                }
                            }
                        }
                    }
                }
            }
        }
        #headerAllBtn {
            position:absolute; left:0; top:30px; text-indent:-9999px;
        }
        .header_my_menu {
            position:absolute; top:26px; right:0;
            li {
                float:left; margin:0 0 0 40px;
                &:first-child {margin:0;}
                > button,
                > a {
                    height:25px; text-indent:-9999px;
                    @include backgroundSolt;
                    @include transition(background-image, .2s);
                    &.mycuckoo_btn {
                        width:24px; background-image:url(../../images/layout/mycuckoo_icon.gif);
                        &:hover {background-image:url(../../images/layout/mycuckoo_icon_over.gif);}
                    }
                    &.cart_btn {
                        width:21px; background-image:url(../../images/layout/cart_icon.gif);
                        &:hover {background-image:url(../../images/layout/cart_icon_over.gif);}
                    }
                    &.search_btn {
                        width:24px; background-image:url(../../images/layout/search_icon.gif);
                        &:hover {background-image:url(../../images/layout/search_icon_over.gif);}
                    }
                }
            }
            
            .header_popup {
                width:582px; position:absolute; right:0; background-color:$white; top:-26px; padding:50px 0; border:1px solid $gray4; display:none;
                @include opacity(0);
                @include translate(0, 20px);
                @include boxSizing;
                //장바구니 팝업
                .cart_wrap {
                    .tit_wrap {
                        padding:0 50px;
                        strong {font-size:28px; color:$gray1;}
                        p {font-size:17px; line-height:26px; padding:25px 0 0;}
                    }
                    .amount_wrap {
                        margin:53px 0 0; text-align:center; position:relative;
                        @extend %clearfix;
                        &:before {width:1px; height:100%; display:block; content:""; background-color:$gray5; position:absolute; left:50%; top:0;}
                        > div {width:290px; float:left;}
                        strong {font-size:24px; display:block;}
                        .cart_box {
                            .amount_box {
                                background-color:#fce8e9; background-image:url(../../images/layout/cart_icon.png);
                                span.num {background-color:$red;}
                            }
                        }
                        .rental_box {
                            .amount_box {
                                background-color:#e2edf1; background-image:url(../../images/layout/rental_icon.png);
                                span.num {background-color:$gray1;}
                            }
                        }
                        .amount_box {
                            width:140px; height:140px; display:inline-block; margin:42px 0 0; position:relative;
                            @include borderRadius(100%);
                            @include backgroundSolt;
                            span.num {
                                min-width:20px;height:40px; display:block; position:absolute; top:0; left:50%; margin:0 0 0 30px; padding:0 10px; line-height:40px; font-size:20px; font-weight:$medium; color:$white;
                                @include borderRadius(40px);
                            }
                        }
                        p {
                            font-size:15px; line-height:24px; padding:20px 0 0; color:$gray1;
                            em {color:$red;}
                        }
                        a {
                            width:180px; height:58px; display:inline-block; margin:25px 0 0; line-height:56px; font-size:17px; color:$gray2;
                            @include borderSet(1px, solid, $gray5);
                            @include borderRadius(58px);
                            @include boxSizing;
                            @include transition;
                            &:hover {
                                background-color:$gray1; border-color:$gray1; color:$white;
                            }
                        }
                    }
                }
                .search_wrap {
                
                }
                .header_popup_close {
                    width:21px; height:21px; position:absolute; text-indent:-9999px; top:24px; right:24px;
                    &:before,
                    &:after {width:29px; height:1px; display:block; content:""; position:absolute; background-color:$gray1; top:10px; left:-4px;}
                    &:before {@include rotate(45)}
                    &:after {@include rotate(-45)}
                }
            }
        }
    }
}

