//Noto Sans
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
	url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}


/* latin */
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	src:url(../../fonts/gotham-book.woff2) format('woff2'),
	url(../../fonts/gotham-book.woff) format('woff'),
	url(../../fonts/gotham-book.eot) format('eot'),
	url(../../fonts/gotham-book.ttf) format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/gotham-medium.woff2) format('woff2'),
	url(../../fonts/gotham-medium.woff) format('woff'),
	url(../../fonts/gotham-medium.eot) format('eot'),
	url(../../fonts/gotham-medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/gotham-bold.woff) format('woff'),
	url(../../fonts/gotham-bold.eot) format('eot'),
	url(../../fonts/gotham-bold.ttf) format('truetype');
}




